@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    box-sizing: border-box;
    font-family: "Luckiest Guy", 'Times New Roman', Times, serif;
    --bubba-red: rgb(200, 0, 0);
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: center;
     gap: 4rem;
    margin: 1rem;
    text-align: center;
}

footer {
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    color: var(--bubba-red);
}

.navButton {
    background-color: white;
    border: none;
    color: var(--bubba-red);
    font-weight: bold;
    padding: 5px 15px;
    font-family: inherit;
    font-size: 1.5rem;
}

.navButton:hover {
    color: black;
}

#content {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    align-items: center;
}

.mainLogo {
    color: var(--bubba-red);
    font-size: 4rem;
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    text-align: center;
    place-self: center;
    margin: 1rem;
}

.burgerCaption {
    align-self: bottom;
}

.burgerImg {
    width: 90%;
    height: auto;
    object-fit: contain;
    grid-column: 2;
    grid-row: 2;
}

.imgContainer {
    grid-column: 2;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    text-align: center;
    border: 7px solid var(--bubba-red);
    padding: 2rem;
    border-radius: 20px;
}

.homeContent {
    font-size: 2rem;
}

.blackBubba {
    color: black;
    font-size: 3rem;
    ;
}

.reviews {
    grid-row: 2;
    display: grid;
    grid-template-rows: repeat(4, fit-content);
    gap: 1.5rem;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    margin: 2rem;
    line-height: 1.5rem;
}

.reviewHead {
    grid-row: 1;
    font-family: "Luckiest Guy";
    font-size: 2rem;
    letter-spacing: .1rem;
    text-align: center;
}

.fryContainer {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    place-items: center;
    text-align: center;
    margin: 2rem;

}

.fryContainer>div {
    background-color: var(--bubba-red);
    padding: 1.3rem;
    border: 3px solid black;
    border-radius: 30px;
    letter-spacing: .5px;
}

.fryContainer>div:hover {
    color: white;
}

.fryImage {
    object-fit: contain;
    width: 80%;
    height: auto;
    grid-column: 1;
    justify-self: flex-start;
}

.blinking {
    animation-name: blinking;
    animation-duration: 1s;
    animation-iteration-count: 100;
}

@keyframes blinking {
    50% {
        border-color: var(--bubba-red);
    }
}

.blinking-text {
    animation-name: blinking-text;
    animation-duration: 2s;
    animation-iteration-count: 100;
}

@keyframes blinking-text {
    40% {
        color: var(--bubba-red);
    }
}

.menuContainer, .contactContainer {
    display: grid;;
    /* gap: 1rem; */
    margin: 2rem auto;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    border: 8px solid var(--bubba-red);
    border-radius: 20px;
    width: 80%;
    height: 90%;
    place-items: center;
    padding: 1rem;
}

.menuItem, .contactItem{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    width: 80%;
    place-items: center;
}

.itemHeader, .contactType {
    font-size: 2rem;
    color: var(--bubba-red);
}

.itemText, .contactValue {
text-align: center;
}

.itemPrice, #item5  {
    color: var(--bubba-red)
}

.contactItem {
    /* grid-template-rows: min-content; */
}

.contactContainer{
    height: 60%;
    width: 40%;
}

